<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sf">
		<property name="hibernate.connection.driver_class">driver</property>
		<property name="hibernate.connection.password">pass</property>
		<property name="hibernate.connection.url">url</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.dialect">dialect</property>
		<property name="hibernate.connection.pool_size">5</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="aatithya.VisitorDTO"/>
		<mapping class="aatithya.Login"/>
		<mapping class="aatithya.Employee"/>
	</session-factory>
</hibernate-configuration>
